.venv/
__pycache__/
*.pyc

docs/
data/generated/
models/*.pth
models/*.pt
models/*.onnx

*.wav
*.mp3
*.flac

.ipynb_checkpoints/
.vscode/

external/
.venv/

.DS_Store
csv/
*.csv
*.txt
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*.*
zip/
*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lzo
*.tar.lrz
*.tar.lzo

data/benchmark_results/
data/
data/live_recordings/
models/dfn3_finetuned/models/